google-chrome*/
yarn
turso
erl_observer
pulse
Slack
Obsidian
Code
evolution
1Password
BraveSoftware
microsoft-edge-dev
vivaldi*/
Polypane
RaiderIO
Warcraft Logs Uploader
WowUpCf
autostart
bashtop
cef_user_data
droidcam
enchant
gedit
gnome-initial-setup-done
lutris
microsoft-edge
nautilus
obsidian
pop-shell
pop-system-updater
qalculate
totem
touchegg

