# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
.config
discord
!/nvim/**
!/home_configs/**
!/zsh/**
!/tmux/**
!/awesome/**
!/kitty/**
# You can be specific with these rules

!.gitignore 
