JetBrains/
ookla/
~


configs/.config/ibus/bus/e7a91a3a77b542de938bb73d3ace53b1-unix-0
/configs/.config/chromium
/configs/.config/dconf
/configs/.config/manjaro
/configs/.config/mimeapps.list
/configs/.config/monitors.xml
/configs/.config/user-dirs.dirs
/configs/.config/user-dirs.locale
/configs/.config/xdg-terminals.list
/todo.org
