#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

#include ".xrdb/color/blur"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


!XTerm*background: bg_color
!XTerm*foreground: fg_color
!XTerm*pointerColor: cursor_color
XTerm*faceName: MesloLGS:Regular
XTerm*faceSize: 10
XTerm*geometry: 90x23

URxvt.internalBorder:    1
URxvt.externalBorder:    1
!URxvt.lineSpace:        0
!urxvt*shading:          30
URxvt.depth:             24
URxvt.saveLines:         10000
URxvt*geometry:          96x23
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false
URxvt.perl-ext-common: tabbed


!URxvt.tabbed.tabcmds.1: N|htop}htop
!URxvt.tabbed.tabcmds.2: R|shell
!URxvt.tabbed.tabcmds.3: M|shell
!URxvt*session: N|R|M

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*transparent: false
!URxvt*shading: 70

!! Fonts

URxvt*font:              xft:MesloLGS:Regular:size=10
!URxvt*boldFont:          xft:MesloLGS:Bold:size=10
!URxvt*italicFont:        xft:MesloLGS:Regular:size=10
!URxvt*boldItalicFont:    xft:MesloLGS:Regular:size=10


URxvt.letterSpace:       true

!! Keybinding
URxvt.keysym.C-Up:       perl:font-size:increase
URxvt.keysym.C-Down:     perl:font-size:decrease
URxvt.keysym.C-S-Up:     perl:font-size:incglobal
URxvt.keysym.C-S-Down:   perl:font-size:decglobal
!Home and End keys to jump to the beginning and end of lines
URxvt*keysym.Home:       \033[1~
URxvt*keysym.End:        \033[4~

!! Tabs [COLORS]
URxvt.tabbed.tabbar-bg:  -1
URxvt.tabbed.tabbar-fg:  13
URxvt.tabbed.tab-bg:     13
URxvt.tabbed.tab-fg:     -1
URxvt.tabbed.title-bg:   -1
URxvt.tabbed.title-fg:   -2
URxvt.tabbed.autohide:   true
URxvt.tabbed.new-button: false
URxvt.tabbed.title:      true

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false

!! Cursor
URxvt.colorUL:             #83a598
Xcursor.theme:             Adwaita

!! Pointer
!URxvt.pointerBlank:        true


yeahconsole*toggleKey: None+F1
yeahconsole*consoleHeight: 25
yeahconsole*aniDelay: 0
yeahconsole*stepSize: 10
yeahconsole*inheritPixmap: false
yeahconsole*faceName: MesloLGS:Regular
yeahconsole*faceSize: 10
!yeahconsole*background: bg_color
!yeahconsole*foreground: fg_color
!yeahconsole*cursorColor: cursor_color
yeahconsole*restart:1
yeahconsole*keySmaller:Control+KP_Subtract
yeahconsole*keyBigger:Control+KP_Add
! yeahconsole*faceName: SourceCodePro-Regular:size=8
! yeahconsole*faceName: MesloLGS-Regular:size=8
yeahconsole*metaSendsEscape:true
yeahconsole*xOffset: 0
yeahconsole*screenWidth: 1600
!yeahconsole*consoleHeight: 15
yeahconsole*handleWidth: 1
!yeahconsoled
yeahconsole*loginShell: true
yeahconsole*savelines: 10000
yeahconsole*toolBar: false
yeahconsole*term: urxvt

! transparency percentage
!100% - FF
!95% - F2
!90% - E6
!85% - D9
!80% - CC
!75% - BF
!70% - B3
!65% - A6
!60% - 99
!55% - 8C
!50% - 80
!45% - 73
!40% - 66
!35% - 59
!30% - 4D
!25% - 40
!20% - 33
!15% - 26
!10% - 1A
!5% - 0D
!0% - 00


rofi.color-enabled: true
rofi.color-window: #4d32302f, #4d32302f, #0032302f
rofi.color-normal: #0032302f, #d8dee9, #0032302f, #cc458588, #32302f
rofi.color-active: #4d1b2b34, #6699cc, #4d343d46, #4d6699cc, #d8dee9
rofi.color-urgent: #4d1b2b34, #ec5f67, #4d343d46, #4dec5f67, #d8dee9

rofi.modi: run,ssh,window
rofi.separator-style: solid
rofi.show-icons: true
rofi.drun-icon-theme: Paper
rofi.sidebar-mode:    true
rofi.padding:         10
rofi.bw:              0
rofi.scrollbar-width: 0
rofi.line-margin:     0
rofi.lines: 10
rofi.terminal: urxvt
rofi.case-sensitive: false

